{% extends "global/Page.html" %}
{% block title %}Vaše odměna{% endblock %}

{% block content %}

<p>
  <strong>Fixní odměna za účast:</strong> {{ showup_fee }}
</p>

<p>
  <strong>Variabilní odměna:</strong> {{ variable_fee }}
</p>

<ul>
  <li>
    Hra se sekvencemi: k výplatě bylo vylosováno kolo
    <b>{{ paid_seq_round }}</b>,
    získaná odměna <b>{{ paid_seq_amount }}</b>.
  </li>

  <li>
    Výběr loterií: k výplatě byl vylosován řádek
    <b>{{ paid_mpl_row }}</b>,
    získaná odměna <b>{{ paid_mpl_amount }}</b>.
  </li>
</ul>

<p>
  <strong>CELKOVÁ ODMĚNA: {{ total_fee }}</strong>
</p>

<p>
  Váš výplatní kód:
  <b>
    {% if participant.label %}
      {{ participant.label }}
    {% else %}
      {{ participant.code }}
    {% endif %}
  </b>
</p>

{% next_button %}
{% endblock %}