<br>
<p>
  <b>
    Tato část studie se skládá ze {{ C.NUM_ROUNDS }} kol, ve kterých můžete sázet na hod spravedlivou mincí,
    u níž Hlava i Orel padá se stejnou pravděpodobností.
  </b>
</p>

<p>
  V každém kole uvidíte <strong>sekvenci</strong> šesti předchozích hodů takovou mincí.
  Tyto sekvence byly vygenerovány předem a slouží jako modelové scénáře.
</p>

<p>
  Kola jsou rovnoměrně rozdělena do {{ C.NUM_BLOCKS }} bloků oddělených krátkou přestávkou.
  Symboly H (Hlava) a O (Orel) jsou v každé sekvenci zobrazeny od nejstaršího hodu vlevo po nejnovější hod vpravo.
</p>


<h3>Rozhodnutí</h3>
<p>
  Rozhodnutí, které v každém kole činíte, se týká sázky na hod,
který následuje po zobrazené sekvenci.
</p>

<p>
  Sázení probíhá prostřednictvím jednoduchého rozhraní, které zobrazuje tři tlačítka:
  <strong>Hlava</strong>, <strong>Orel</strong> a <strong>Nesázet</strong>: 
</p>

<ul>
  <li>Pokud si chcete vsadit, zvolíte Hlavu / Orla a pomocí posuvníku určíte výši sázky na vybranou stranu.</li>
  <li>Pokud si nechcete vsadit, zvolíte Nesázet a pokračujete do dalšího kola bez sázky.</li>
  <li>Pořadí tlačítek Hlava a Orel se mezi koly může měnit.</li>
</ul>
  
<p>
 Rozhodnutí, která v každém kole učiníte, mají vliv na Vaši odměnu z této části studie.
</p>  

<h3>Odměny</h3>

<p>
  Na začátku každého kola máte k dispozici <b>{{ C.ENDOWMENT }} ECU</b>.
  V každém kole můžete vsadit libovolnou částku na jednu stranu mince
  (Hlavu / Orla), nebo se můžete rozhodnout Nesázet.
  Výpočet odměny se v každém kole řídí stejným pravidlem:
</p>

<ul>
  <li>
    Nevsazená částka Vám zůstane bez ohledu na to, jaká strana mince v daném kole padne.
  </li>
  <li>
    Vsazená částka bude při úspěšné sázce vynásobena <b>{{ participant.vars.m }}krát</b>.
    Při neúspěšné sázce o vsazenou částku přijdete.
  </li>
</ul>

<p>
    Nevsazená částka Vám tedy vždy zůstává a vsazená částka se buď znásobí, nebo o ni přijdete.
</p>
  
<p>
  Na konci studie bude vylosováno jedno z absolvovaných {{ C.NUM_ROUNDS }} kol.
  Rozhodnutí, které jste ve vylosovaném kole učinili, určí Vaší odměnu z této části studie.
  Pokud jste si v tomto kole vsadili, bude proveden hod mincí – padne-li Vámi zvolená strana, byla Vaše sázka úspěšná.
</p>

<p>
  Částka získaná ve vylosovaném kole Vám bude vyplacena v poměru
  <b>1&nbsp;ECU&nbsp;=&nbsp;1&nbsp;CZK</b>.
</p>

<p>
  Vaší odměnu z této části studie tedy určí rozhodnutí pouze z jednoho kola. Protože však předem nevíte, jaké kolo to bude, je optimální se v každém kole rozhodovat tak, jako by právě ono mělo být vyplaceno.
</p>

<h3>Zkušební kolo a kontrolní otázky</h3>
<p>
  Po kliknutí na tlačítko se zobrazí zkušební kolo, ve kterém uvidíte rozložení
  rozhodovací obrazovky tak, jak bude vypadat v ostré části studie.
  Jednotlivé prvky obrazovky budou stručně popsány v červeném informačním boxu
  na začátku stránky.
</p>

<p>
  Zkušební kolo slouží pouze k seznámení se s rozhodovací obrazovkou a nemá vliv
  na výši Vaší odměny.
  Po jeho dokončení se Vám zobrazí několik kontrolních otázek, které slouží
  k ověření porozumění klíčovým aspektům této části studie.
</p>


