{% extends "global/Page.html" %}
{% block title %}Děkujeme za účast!{% endblock %}

{% block content %}
<br>
<p>
    Odměna za tuto studii Vám bude vyplacena bankovním převodem. Nyní se prosím ujistěte, že:
</p>

<ul>
	
	<li>
		<strong>Máte připravený QR kód pro platbu</strong>. Částku doplní administrátor. Pokud nevíte, jak na to, připravte si číslo svého účtu.
	</li>

	<li>
		<strong>Máte míček</strong>, který jste si vylosovali při vstupu do laboratoře a který určuje číslo Vašeho sedadla.
	</li>

</ul>

<p>
   Máte-li připravený QR kód (nebo číslo účtu) a držíte-li v ruce míček, odeberte se prosím za administrátorem studie.
</p>

{% endblock %}